Source: xmlenv
Section: utils
Priority: optional
Maintainer: Miroslav Safr <miroslav.safr@gmail.com>
Build-Depends: debhelper (>= 5), appver, jenkins-support-scripts (>=1.2.3)
Standards-Version: 3.8.1
Homepage: http://safrm.net/projects/xmlenv

Package: xmlenv
Architecture: all
Depends: apt, xsltproc, ${misc:Depends}, ${launcher:Depends}, ${shlibs:Depends}
Description: Multiplatformal/distribution system environments dumping and \
	comparation using XML files


